In [3]:
from ResearchMain import *

In [4]:
FOLDER_PATH = '小论文/'
EXPORT_PATH += FOLDER_PATH

In [5]:
df = gene_abundance
df

Gene,Bacterial 16S rRNA,Archaeal 16S rRNA,AOA_amoA,AOB_amoA,nxrA,narG,napA,nirK,nirS,nosZ,norB,hzsA,hzsB,hzo,nifH
ID,,,,,,,,,,,,,,,
D-H1,1.642988e+12,3.291743e+07,1.309203e+07,362167.371442,7.557514e+06,6.193215e+05,2.714383e+06,6.208402e+05,7.556193e+07,1.101283e+06,2.877926e+05,6.900954e+05,9.771719e+05,59763.803097,1.330116e+04
D-H2,9.734149e+11,2.818142e+07,1.176137e+07,369272.095555,5.529952e+06,5.628594e+05,1.209347e+06,7.747804e+05,1.609800e+08,4.226340e+05,1.283924e+05,1.647053e+06,8.417798e+05,58386.778515,1.287674e+04
D-H3,4.303498e+12,4.622788e+07,6.728205e+06,487645.491524,1.466007e+07,2.953696e+05,8.957945e+05,4.032794e+05,4.983680e+08,8.871942e+05,1.290810e+05,1.504869e+06,1.353839e+06,48393.786152,9.917281e+03
D-H4,3.985215e+12,1.161468e+08,1.714973e+07,522516.452775,1.169370e+07,5.224020e+04,6.382258e+05,3.668576e+05,1.643910e+08,3.468487e+05,1.693446e+05,7.444430e+05,3.205211e+05,34202.593594,2.046502e+04
D-H5,4.010876e+12,6.255959e+07,1.210502e+07,562590.301880,1.201148e+07,7.642274e+04,1.929301e+05,8.655376e+05,3.047211e+08,8.382781e+05,1.602435e+05,9.150162e+05,2.760314e+05,32529.196754,1.908557e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
W-P5,3.778551e+12,1.250934e+08,4.467447e+07,533952.013512,2.635662e+09,5.189513e+05,2.841631e+06,3.023162e+07,8.470736e+07,2.139064e+08,6.096623e+05,2.120688e+06,4.861860e+06,368617.165021,6.576618e+05
W-P6,3.745549e+12,8.767759e+07,3.038296e+07,358944.921991,4.657828e+09,4.436650e+05,9.169049e+06,1.379646e+07,5.604978e+07,3.832982e+08,8.235145e+05,3.936532e+06,2.898582e+06,219426.589483,1.182591e+06
W-P7,3.418547e+12,3.532132e+07,1.133204e+07,387550.695182,4.406424e+09,3.765749e+06,2.165217e+06,7.350488e+06,7.570608e+07,6.144403e+07,1.381359e+06,5.360496e+06,1.478238e+07,286465.334411,2.124679e+06
W-P8,4.029212e+12,7.308210e+07,2.493729e+07,464216.800552,2.963954e+09,1.285301e+07,3.289237e+06,1.563352e+07,6.692701e+07,3.202820e+08,9.241615e+05,7.850371e+06,2.335229e+07,453157.267491,5.025884e+06
W-P9,2.820127e+12,6.171132e+07,2.075761e+07,577550.584427,5.983461e+09,4.248306e+06,6.249637e+05,1.110808e+07,7.241984e+07,1.065415e+08,5.317830e+05,5.805291e+06,9.088271e+06,175864.922846,2.468996e+06

In [6]:
df = df.copy()
df.loc[:,['Period', 'River']] = all_df.loc[:,['Period', 'River']]
df = df.reset_index()
df = df.melt(id_vars=['ID','Period', 'River'])
df.rename(columns={
    'variable': 'Gene',
    'value': 'Abundance'
}, inplace=True)
df['Abundance'] = np.log10(np.abs(df['Abundance']))
df.set_index('ID', inplace=True)
df

          Period         River                Gene  Abundance
ID
D-H1  Dry Season  Hangbu River  Bacterial 16S rRNA  12.215634
D-H2  Dry Season  Hangbu River  Bacterial 16S rRNA  11.988298
D-H3  Dry Season  Hangbu River  Bacterial 16S rRNA  12.633822
D-H4  Dry Season  Hangbu River  Bacterial 16S rRNA  12.600452
D-H5  Dry Season  Hangbu River  Bacterial 16S rRNA  12.603239
...          ...           ...                 ...        ...
W-P5  Wet Season     Pai River                nifH   5.818003
W-P6  Wet Season     Pai River                nifH   6.072835
W-P7  Wet Season     Pai River                nifH   6.327293
W-P8  Wet Season     Pai River                nifH   6.701212
W-P9  Wet Season     Pai River                nifH   6.392520

[1350 rows x 4 columns]

In [7]:
level_df = df.loc[[i for i in df.index if i.startswith('L')]]
level_df

            Period         River                Gene  Abundance
ID
L-H1  Level Season  Hangbu River  Bacterial 16S rRNA  12.506523
L-H1  Level Season  Hangbu River   Archaeal 16S rRNA   8.042228
L-H1  Level Season  Hangbu River            AOA_amoA   7.035183
L-H1  Level Season  Hangbu River            AOB_amoA   5.546893
L-H1  Level Season  Hangbu River                nxrA   9.087077
...            ...           ...                 ...        ...
L-P9  Level Season     Pai River                norB   5.231636
L-P9  Level Season     Pai River                hzsA   7.005144
L-P9  Level Season     Pai River                hzsB   6.270723
L-P9  Level Season     Pai River                 hzo   5.251808
L-P9  Level Season     Pai River                nifH   5.852920

[8100 rows x 4 columns]

In [8]:
sns.set_theme(style="darkgrid", font='Times New Roman', font_scale=1.5)

In [ ]:
# 绘制标准曲线
plt.figure(dpi=DPI)
fig, ax_arr = plt.subplots(ROW_NUM, COL_NUM, sharex='col', figsize=(17, 20))  # sharex、y设置子图共享x、y轴坐标
fig.subplots_adjust(hspace=0.2, wspace=0.25)  # 设置子图的横纵间距
for index, gene in enumerate(gene_list):
    row_num = index // 3
    col_num = index - row_num * 3
    cur_plot_item = sns.boxplot(
        x="River",
        y="Abundance",
        data=level_df[level_df['Gene'] == gene],
        palette="Set1",  # 颜色版
        # notch=True,  # 加入缺口
        width=0.3,
        linewidth=3,
        ax=ax_arr[row_num][col_num]
    )

    # 子图名称
    gene = gene.replace(' ', '\\ ').replace('_', '\\_')  # 对基因名称中的空格和下划线进行转义处理
    cur_plot_item.set_title(f'({CHAR[index]}) ' + '$' + gene + '$')
    # 子图x轴名称(只保留最后一行)
    cur_plot_item.set_xlabel(None)
    # 子图x轴名称(除去每行第2~最后的子图的y轴名称)
    if (index + 1) % COL_NUM != 1:
        cur_plot_item.set_ylabel(None)
    else:
        cur_plot_item.set_ylabel('$log(copies·g^{-1})$')

# 保存图片
fig.savefig(EXPORT_PATH + '功能基因丰度图-平水期'+IMG_TYPE, dpi=DPI, bbox_inches='tight')