In [1]:
from ResearchMain import *

In [2]:
all_df.iloc[:,:15].agg(['max', 'mean', 'min']).T

                             max          mean           min
Bacterial 16S rRNA  1.140504e+13  2.889389e+12  7.968973e+11
Archaeal 16S rRNA   2.480042e+08  7.935016e+07  1.299403e+07
AOA_amoA            9.385959e+07  2.661325e+07  4.306540e+06
AOB_amoA            1.056369e+06  4.829953e+05  2.319129e+05
nxrA                7.333413e+09  2.011001e+09  4.135236e+06
narG                1.633959e+07  2.133448e+06  2.047164e+04
napA                3.127910e+07  4.115572e+06  1.929301e+05
nirK                1.233494e+08  1.198133e+07  3.668576e+05
nirS                4.983680e+08  9.716578e+07  5.225527e+06
nosZ                1.069002e+09  1.387596e+08  3.352485e+05
norB                1.692521e+06  4.589865e+05  6.307644e+04
hzsA                3.436518e+07  6.292994e+06  3.019290e+05
hzsB                9.928910e+07  9.359730e+06  1.324880e+05
hzo                 7.955535e+05  2.715663e+05  3.252920e+04
nifH                6.664599e+06  1.277398e+06  4.232020e+03

## 枯水期

In [3]:
dry_df = all_df[all_df['Period'] == 'Dry Season'].copy()

### 功能基因

In [4]:
dry_gene = dry_df.iloc[:,:15]
dry_gene['River'] = dry_df['River']
dry_gene.groupby('River').agg(['max', 'mean', 'min']).T

River                    Nanfei River     Pai River  Hangbu River
Bacterial 16S rRNA max   3.131311e+12  3.174466e+12  4.303498e+12
                   mean  2.022188e+12  1.983020e+12  2.983198e+12
                   min   9.328554e+11  7.968973e+11  9.734149e+11
Archaeal 16S rRNA  max   9.308005e+07  8.042868e+07  1.161468e+08
                   mean  3.897814e+07  4.635741e+07  5.720662e+07
                   min   1.322307e+07  1.299403e+07  2.818142e+07
AOA_amoA           max   2.990348e+07  6.316762e+07  1.714973e+07
                   mean  1.746286e+07  2.537847e+07  1.216727e+07
                   min   9.372749e+06  8.452542e+06  6.728205e+06
AOB_amoA           max   5.498405e+05  6.054650e+05  5.625903e+05
                   mean  4.262796e+05  5.238033e+05  4.608383e+05
                   min   2.387377e+05  4.160011e+05  3.621674e+05
nxrA               max   1.689162e+07  1.322453e+07  1.466007e+07
                   mean  1.061545e+07  1.005694e+07  1.029054e+07
                   min   4.135236e+06  7.590219e+06  5.529952e+06
narG               max   5.203335e+05  5.966395e+05  6.193215e+05
                   mean  1.520786e+05  2.253500e+05  3.212427e+05
                   min   4.789525e+04  4.086967e+04  5.224020e+04
napA               max   3.427096e+06  4.244546e+06  2.714383e+06
                   mean  1.009576e+06  1.599573e+06  1.130136e+06
                   min   2.081086e+05  6.441686e+05  1.929301e+05
nirK               max   1.478592e+06  1.875938e+06  8.655376e+05
                   mean  8.235793e+05  1.236558e+06  6.062591e+05
                   min   5.374574e+05  5.828420e+05  3.668576e+05
nirS               max   4.167981e+08  3.971259e+08  4.983680e+08
                   mean  2.821498e+08  2.176391e+08  2.408044e+08
                   min   1.420427e+08  8.843484e+07  7.556193e+07
nosZ               max   1.670079e+06  2.398712e+06  1.101283e+06
                   mean  8.515093e+05  1.394638e+06  7.192476e+05
                   min   3.427432e+05  6.582586e+05  3.468487e+05
norB               max   3.431184e+05  3.819296e+05  2.877926e+05
                   mean  2.209717e+05  2.015863e+05  1.749708e+05
                   min   1.034718e+05  8.051057e+04  1.283924e+05
hzsA               max   9.522288e+05  1.505929e+06  1.647053e+06
                   mean  6.219208e+05  8.151820e+05  1.100295e+06
                   min   3.019290e+05  5.298729e+05  6.900954e+05
hzsB               max   5.024014e+05  7.288663e+05  1.353839e+06
                   mean  3.218751e+05  3.517629e+05  7.538687e+05
                   min   1.324880e+05  1.803475e+05  2.760314e+05
hzo                max   9.078401e+04  6.392944e+04  5.976380e+04
                   mean  6.220906e+04  4.788622e+04  4.665523e+04
                   min   3.596170e+04  3.380733e+04  3.252920e+04
nifH               max   2.316647e+04  1.102428e+05  2.046502e+04
                   mean  1.332224e+04  4.668955e+04  1.512916e+04
                   min   4.232020e+03  6.553047e+03  9.917281e+03

### 环境因子

In [5]:
dry_overlying_water = dry_df[[i for i in all_df.columns if
            isinstance(i, str) and i.startswith('W')]+['River']]
dry_overlying_water.groupby('River').agg(['max', 'mean', 'min']).T

River               Nanfei River  Pai River  Hangbu River
W-pH          max       8.100000   7.500000       8.80000
              mean      7.998333   7.345714       8.54800
              min       7.840000   6.730000       8.34000
W-DO          max      11.640000  10.620000       9.85000
              mean     10.763333  10.161429       9.67000
              min      10.020000   9.890000       9.42000
W-TN          max       3.989900   3.910000       3.00000
              mean      3.761650   3.515714       2.81400
              min       3.610000   3.250000       2.69000
W-NO_{2}^{-}  max       0.279900   0.119900       0.15680
              mean      0.176167   0.063243       0.07484
              min       0.091600   0.025700       0.00800
W-NO_{3}^{-}  max       0.330000   0.200000       0.12000
              mean      0.273333   0.172857       0.10400
              min       0.210000   0.150000       0.09000
W-NH_{4}^{+}  max       2.980000   2.310000       1.53000
              mean      2.824583   2.057143       1.49000
              min       2.740000   1.950000       1.45000
W-COD         max      16.520000  14.470000      13.96000
              mean     14.858333  13.961429      13.52000
              min      13.780000  13.160000      12.56000
W-PO_{4}^{3-} max       0.211000   0.124500       0.18280
              mean      0.080317   0.073871       0.11790
              min       0.015000   0.016900       0.06300
W-TP          max       0.390000   0.200000       0.13000
              mean      0.318333   0.144286       0.10000
              min       0.270000   0.090000       0.08000
W-T           max      14.700000  12.800000      11.90000
              mean     13.266667  12.000000      11.40000
              min      11.300000  11.300000      10.50000

In [6]:
dry_sediment = dry_df[[i for i in all_df.columns if
            isinstance(i, str) and i.startswith('S')]+['River']]
dry_sediment.groupby('River').agg(['max', 'mean', 'min']).T

River                         Nanfei River    Pai River  Hangbu River
S-TN                    max    1475.000000  2190.000000   1585.000000
                        mean    666.666667   822.857143    912.000000
                        min     320.000000   430.000000    430.000000
S-TP                    max     807.428571   801.142857    968.571429
                        mean    794.119048   780.734694    908.514286
                        min     768.000000   753.714286    878.285714
S-pH                    max       8.650000     7.680000      7.730000
                        mean      7.956667     7.448571      7.478000
                        min       7.700000     7.280000      7.050000
S-Size-d(0.1)           max     611.957000    15.136000     35.451000
                        mean    118.101667    11.947429     21.732000
                        min       9.567000     7.449000      6.946000
S-Size-d(0.5)           max     875.213000    46.725000    636.009000
                        mean    308.096333    37.752429    194.899200
                        min      33.233000    32.507000     37.117000
S-Size-d(0.9)           max    1252.883000   143.055000   1195.165000
                        mean    523.642167   102.111857    464.724200
                        min      93.739000    70.940000    131.724000
S-Size-d((0.9-0.1)/0.5) max       6.396218     2.951336      4.009434
                        mean      2.798933     2.358586      2.683734
                        min       0.732309     1.645042      1.785774

In [7]:
sediment_env_df

,S-TN,S-TP,S-pH,S-Size-d(0.1),S-Size-d(0.5),S-Size-d(0.9),S-Size-d((0.9-0.1)/0.5)
ID,,,,,,,
D-N1,705,806.285714,8.65,11.777,38.340,257.008,6.396218
D-N2,320,794.285714,8.18,45.008,807.765,1239.506,1.478769
D-N3,420,791.000000,7.70,611.957,875.213,1252.883,0.732309
D-N4,650,768.000000,7.70,20.270,53.408,181.770,3.023892
D-N5,1475,797.714286,7.71,9.567,40.619,116.947,2.643590
...,...,...,...,...,...,...,...
W-H8,1325,956.571429,6.90,13.179,54.533,177.715,3.017182
W-H9,1655,924.000000,7.54,12.406,46.868,175.772,3.485662
W-H10,2060,901.142857,7.42,12.816,45.730,169.597,3.428406
W-H11,2060,998.285714,7.36,13.281,56.314,187.891,3.100650
W-H12,1710,931.428571,7.33,12.208,48.635,168.123,3.205819

## 平水期

In [8]:
level_df = all_df[all_df['Period'] == 'Level Season'].copy()

### 功能基因

In [9]:
level_gene = level_df.iloc[:,:15]
level_gene['River'] = level_df['River']
level_gene.groupby('River').agg(['max', 'mean', 'min']).T

River                    Nanfei River     Pai River  Hangbu River
Bacterial 16S rRNA max   7.604506e+12  1.140504e+13  3.303685e+12
                   mean  3.249478e+12  3.578141e+12  2.552210e+12
                   min   1.224842e+12  1.253649e+12  1.516805e+12
Archaeal 16S rRNA  max   1.009469e+08  1.281502e+08  1.532839e+08
                   mean  5.540494e+07  5.978891e+07  8.537894e+07
                   min   1.453783e+07  1.717329e+07  3.253583e+07
AOA_amoA           max   2.141173e+07  4.572601e+07  3.701095e+07
                   mean  1.358199e+07  2.500400e+07  1.713264e+07
                   min   6.927293e+06  1.541951e+07  4.306540e+06
AOB_amoA           max   6.947621e+05  5.475686e+05  1.056369e+06
                   mean  4.698944e+05  4.221324e+05  5.321063e+05
                   min   2.319129e+05  3.345218e+05  3.522842e+05
nxrA               max   3.613316e+09  2.861015e+09  3.499164e+09
                   mean  1.701770e+09  1.326779e+09  2.046041e+09
                   min   7.262824e+08  6.389149e+08  8.628586e+08
narG               max   1.016559e+06  2.216880e+06  2.348452e+06
                   mean  3.757978e+05  7.605435e+05  7.995340e+05
                   min   2.047164e+04  6.382173e+04  1.896399e+05
napA               max   2.855502e+06  5.115032e+06  5.194246e+06
                   mean  1.084488e+06  1.895279e+06  2.549605e+06
                   min   4.663985e+05  5.429993e+05  6.415286e+05
nirK               max   9.027957e+06  9.508903e+06  7.943298e+06
                   mean  3.395932e+06  6.067676e+06  2.506152e+06
                   min   1.614868e+06  3.838476e+06  1.029133e+06
nirS               max   5.461636e+07  5.490142e+07  1.290511e+08
                   mean  3.291277e+07  2.554502e+07  6.821598e+07
                   min   8.651685e+06  5.225527e+06  3.141430e+07
nosZ               max   1.348606e+06  2.016111e+06  1.857443e+06
                   mean  7.142678e+05  1.358061e+06  8.680857e+05
                   min   3.540412e+05  6.291425e+05  3.352485e+05
norB               max   3.506617e+05  2.731027e+05  9.457716e+05
                   mean  2.165167e+05  2.078281e+05  2.395477e+05
                   min   1.302663e+05  1.350502e+05  6.307644e+04
hzsA               max   3.616539e+06  1.277152e+07  1.057527e+07
                   mean  2.685675e+06  4.885144e+06  6.470143e+06
                   min   1.449002e+06  1.494494e+06  2.107161e+06
hzsB               max   4.283857e+06  4.037983e+06  7.506644e+06
                   mean  2.152766e+06  2.560262e+06  4.597328e+06
                   min   1.287973e+06  1.511386e+06  2.133058e+06
hzo                max   6.384501e+05  3.817314e+05  3.033665e+05
                   mean  4.276401e+05  2.439780e+05  2.175949e+05
                   min   2.558175e+05  1.785698e+05  1.298462e+05
nifH               max   1.381487e+06  1.756066e+06  8.944016e+05
                   mean  6.134710e+05  1.115741e+06  4.848346e+05
                   min   2.382502e+05  4.969771e+05  2.288840e+05

### 环境因子

In [10]:
level_overlying_water = level_df[[i for i in all_df.columns if
            isinstance(i, str) and i.startswith('W')]+['River']]
level_overlying_water.groupby('River').agg(['max', 'mean', 'min']).T

River               Nanfei River  Pai River  Hangbu River
W-pH          max       8.650000   9.110000      7.980000
              mean      8.308333   8.268333      7.665833
              min       8.130000   7.370000      7.060000
W-DO          max       8.140000   8.660000      8.770000
              mean      7.540833   8.331667      8.463333
              min       7.160000   8.020000      8.020000
W-TN          max       2.822868   2.374400      2.660000
              mean      2.442005   2.241518      2.111667
              min       2.207525   2.027600      1.650000
W-NO_{2}^{-}  max       0.255000   0.099000      0.039500
              mean      0.057267   0.073458      0.023583
              min       0.000000   0.019500      0.019300
W-NO_{3}^{-}  max       0.445000   0.134000      0.174000
              mean      0.172000   0.112750      0.112333
              min       0.105000   0.088000      0.070000
W-NH_{4}^{+}  max       2.161000   2.140000      1.430000
              mean      1.895417   1.872500      1.271667
              min       1.630000   1.510000      1.150000
W-COD         max      13.090000  12.560000     12.380000
              mean     12.852500  12.401667     11.908333
              min      12.510000  12.180000      8.720000
W-PO_{4}^{3-} max       0.019000   0.016000      0.014000
              mean      0.015750   0.012667      0.009333
              min       0.010000   0.009000      0.006000
W-TP          max       0.260000   0.130000      0.090000
              mean      0.179167   0.084167      0.061667
              min       0.090000   0.020000      0.020000
W-T           max      20.500000  20.500000     20.300000
              mean     19.600000  19.683333     19.466667
              min      18.700000  18.800000     18.400000

In [11]:
level_sediment = level_df[[i for i in all_df.columns if
            isinstance(i, str) and i.startswith('S')]+['River']]
level_sediment.groupby('River').agg(['max', 'mean', 'min']).T

River                         Nanfei River    Pai River  Hangbu River
S-TN                    max    2135.000000  2260.000000   2655.000000
                        mean   1421.250000  1139.166667   1581.666667
                        min     375.000000   210.000000    755.000000
S-TP                    max     932.570000   864.000000   1003.430000
                        mean    831.475000   791.333333    870.095000
                        min     752.000000   735.430000    761.140000
S-pH                    max       7.970000     8.130000      8.010000
                        mean      7.558333     7.656667      7.741667
                        min       7.230000     7.170000      7.420000
S-Size-d(0.1)           max      19.844000    18.317000     16.913000
                        mean     11.420083    13.337083     12.753250
                        min       5.607000     7.750000      5.955000
S-Size-d(0.5)           max      81.585000    48.848000     48.445000
                        mean     41.367917    38.529583     42.543083
                        min      22.495000    32.068000     31.587000
S-Size-d(0.9)           max     936.552000   141.613000    148.533000
                        mean    168.982917   102.138750    114.393250
                        min      44.800000    63.192000     89.353000
S-Size-d((0.9-0.1)/0.5) max      19.969645     2.743698      2.808972
                        mean      3.658901     2.299561      2.404578
                        min       1.742298     1.599195      2.079086

## 丰水期

In [12]:
wet_df = all_df[all_df['Period'] == 'Wet Season'].copy()

### 功能基因

In [13]:
wet_gene = wet_df.iloc[:,:15]
wet_gene['River'] = wet_df['River']
wet_gene.groupby('River').agg(['max', 'mean', 'min']).T

River                    Nanfei River     Pai River  Hangbu River
Bacterial 16S rRNA max   3.320460e+12  4.141770e+12  5.078258e+12
                   mean  2.163386e+12  3.303578e+12  3.412771e+12
                   min   8.412755e+11  2.332340e+12  2.264744e+12
Archaeal 16S rRNA  max   1.579853e+08  1.250934e+08  2.480042e+08
                   mean  9.145700e+07  8.605185e+07  1.466776e+08
                   min   5.173315e+07  3.532132e+07  7.877130e+07
AOA_amoA           max   5.754869e+07  4.467447e+07  9.385959e+07
                   mean  3.196631e+07  2.992951e+07  5.337972e+07
                   min   1.714307e+07  1.133204e+07  2.704993e+07
AOB_amoA           max   6.535614e+05  7.286351e+05  7.460567e+05
                   mean  4.557587e+05  5.036584e+05  5.282069e+05
                   min   2.841763e+05  3.432376e+05  2.926942e+05
nxrA               max   3.460091e+09  7.333413e+09  6.186243e+09
                   mean  2.163994e+09  3.078758e+09  4.749701e+09
                   min   7.508439e+08  1.124640e+09  2.781485e+09
narG               max   8.178119e+06  1.448569e+07  1.633959e+07
                   mean  3.652249e+06  5.451464e+06  4.619926e+06
                   min   5.081883e+05  4.147311e+05  7.454658e+05
napA               max   3.127910e+07  1.182320e+07  2.235540e+07
                   mean  1.015027e+07  4.774721e+06  8.503661e+06
                   min   2.761891e+06  6.249637e+05  2.498973e+06
nirK               max   4.879065e+07  4.129149e+07  1.233494e+08
                   mean  2.703358e+07  1.857967e+07  3.089124e+07
                   min   7.817231e+06  7.350488e+06  9.724474e+06
nirS               max   2.938763e+08  1.194250e+08  9.518481e+07
                   mean  8.263947e+07  7.691671e+07  7.414715e+07
                   min   2.517318e+07  4.861724e+07  5.023491e+07
nosZ               max   6.851636e+08  5.412092e+08  1.069002e+09
                   mean  2.955059e+08  2.638712e+08  4.768404e+08
                   min   8.952874e+07  6.144403e+07  1.647624e+08
norB               max   1.692521e+06  1.381359e+06  1.389965e+06
                   mean  6.278806e+05  1.014292e+06  8.353513e+05
                   min   1.803408e+05  5.317830e+05  2.581152e+05
hzsA               max   6.027384e+06  3.033582e+07  3.436518e+07
                   mean  3.827933e+06  6.627110e+06  2.145651e+07
                   min   1.561762e+06  1.112502e+06  1.196430e+07
hzsB               max   2.045867e+07  2.335229e+07  9.928910e+07
                   mean  8.596018e+06  9.647876e+06  4.196348e+07
                   min   2.254037e+06  2.614325e+06  8.444147e+06
hzo                max   7.955535e+05  5.153205e+05  4.115745e+05
                   mean  4.787548e+05  3.038231e+05  2.864783e+05
                   min   2.636442e+05  1.758649e+05  1.217819e+05
nifH               max   6.658827e+06  6.664599e+06  5.536496e+06
                   mean  2.529636e+06  2.610007e+06  2.186595e+06
                   min   6.781003e+05  4.624932e+05  5.513645e+05

### 环境因子

In [14]:
wet_overlying_water = wet_df[[i for i in all_df.columns if
            isinstance(i, str) and i.startswith('W')]+['River']]
wet_overlying_water.groupby('River').agg(['max', 'mean', 'min']).T

River               Nanfei River  Pai River  Hangbu River
W-pH          max       8.870000   9.460000      9.170000
              mean      8.429167   9.284167      8.976667
              min       8.150000   8.970000      8.780000
W-DO          max       8.980000  13.640000     10.730000
              mean      8.071667  11.695833      9.560833
              min       7.580000  10.310000      8.820000
W-TN          max       2.540000   1.840000      1.900000
              mean      2.120833   1.709167      1.528333
              min       1.710000   1.560000      1.100000
W-NO_{2}^{-}  max       0.062600   0.055700      0.000000
              mean      0.027892   0.031342      0.000000
              min       0.020600   0.021100      0.000000
W-NO_{3}^{-}  max       0.268371   0.179035      0.051411
              mean      0.162373   0.127985      0.019860
              min       0.081190   0.093952      0.000362
W-NH_{4}^{+}  max       1.975929   1.551085      1.695384
              mean      1.399998   1.067537      0.905078
              min       1.017700   0.656300      0.174800
W-COD         max      12.970000  12.800000     12.590000
              mean     12.077500  12.054167     11.626667
              min      10.800000  11.390000     10.600000
W-PO_{4}^{3-} max       0.054800   0.128300      0.079900
              mean      0.026733   0.051850      0.031908
              min       0.009100   0.027200      0.004800
W-TP          max       2.112483   2.217844      1.743720
              mean      1.186187   1.006195      1.124726
              min       0.426711   0.268670      0.690113
W-T           max      22.600000  29.200000     22.600000
              mean     21.733333  28.575000     20.816667
              min      20.600000  27.900000     19.600000

In [15]:
wet_sediment = wet_df[[i for i in all_df.columns if
            isinstance(i, str) and i.startswith('S')]+['River']]
wet_sediment.groupby('River').agg(['max', 'mean', 'min']).T

River                         Nanfei River    Pai River  Hangbu River
S-TN                    max    2685.000000  2465.000000   2575.000000
                        mean   1313.333333  1734.166667   1849.166667
                        min     490.000000  1055.000000   1325.000000
S-TP                    max    1353.714286   903.428571   1053.714286
                        mean   1104.714286   833.904762    949.047619
                        min     837.714286   768.571429    805.142857
S-pH                    max       8.160000     8.220000      8.100000
                        mean      7.847500     7.860833      7.285000
                        min       7.540000     7.660000      6.760000
S-Size-d(0.1)           max      49.475000    15.446000     29.186000
                        mean     15.241917    11.971417     15.128167
                        min       7.198000     8.968000     11.228000
S-Size-d(0.5)           max     115.547000    41.745000     82.178000
                        mean     56.937583    34.313917     56.202167
                        min      26.968000    29.792000     39.973000
S-Size-d(0.9)           max     213.101000   127.449000    375.469000
                        mean    160.834917    94.635500    193.332000
                        min      65.552000    65.966000    159.858000
S-Size-d((0.9-0.1)/0.5) max       3.679075     2.882518      9.109674
                        mean      2.746642     2.383067      3.426235
                        min       1.416099     1.851839      1.746745